<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
Tout ce que nous connaissons du monde et de nous-mêmes nous vient de nos sens. Nos sens sont les outils de reliance à notre intériorité et des guides pour notre corps, nos pensées, nos idées créatives. Nous avons les capacités sensorielles d’enregistrer de l’information et une capacité plus ou moins grande à recevoir des informations qui s’intégrent en nous, dans nos celulles, via les stimulis reçus par nos récepteurs sensoriels (oeil, oreille, peau, nez et langue). Parfois ce que nous recevons est très clair et parfois les informations sont floues ou même inconscientes.
Découvrez, au travers d’expériences et d’explorations multisensorielles, dans la nature ou avec de nouvelles technologies, comment apporter plus de lumière dans votre Vie et dans l'espace intérieur de votre Etre, grâce à l’accompagnement d’experts et d’outils technologiques permettant de trouver plus de clarté en vous et de développer tous vos sens pour amener plus de joie, de créativité dans votre Vie.
</p>
                <a href="#" class="btn btn-default btn-xl">Découvrir</a>
            </div>
        </div>
    </div>
</section>
